{% extends 'base.html.twig'%}

{% block body %}

<h2>Information importante</h2>

	<p>En vue de la forte affluence attendue, la réservation en ligne de votre créneau horaire, qui peut seule vous garantir l’entrée au musée, est fortement recommandée.</p>

	<p>
		Lundi : 9 h - 18 h<br />
		<mark>Mardi : Fermé</mark><br />
		Mercredi : 9 h - 18h<br />
		Jeudi : 9 h - 18 h<br />
		Vendredi : 9 h - 18h<br />
		Samedi : 9 h - 18 h<br />
		<mark>Dimanche : Fermé</mark><br />
		<br />L'évacuation des salles débute à 17 h 30.<br />
	</p>
			
	<h3>Le Musée est fermé :</h3>
			
	<p>
		Tous les mardi<br />
		Tous les dimanche<br />
		Jour de l’An<br />
		Lundi de Pâques<br />
		1er mai : Fête du Travail<br />
		8 mai : Victoire 1945<br />
		Jeudi de l'Ascension<br />
		Lundi de Pentecôte<br />
		14 Juillet : Fête nationale<br />
		15 Août : l'Assomption<br />
		1er Novembre : Toussaint<br />
		11 Novembre : Armistice 1918<br />
		Noël<br />
	</p>

	<h3>Astuce !</h3>

	<p>
		Quels sont les meilleurs horaires pour visiter ?<br />
		Le matin dès l'ouverture du musée.
	</p>

{% endblock %}