{% extends 'base.html.twig'%}

{% block body %}

	<h1>Réserver un billet</h1>

		<h2>Choisissez votre date de visite</h2>
		
		<h2>Choisissez votre billet</h2>
		
		<h2>Choisissez le nombre de billets</h2>

		<a href="{{ path('second') }}" class="btn btn-primary">Etape suivante</a>

{% endblock %}