{% extends 'base.html.twig'%}

{% block body %}

	<h1>Réserver un billet</h1>

		<h2>Remplissez le(s) formulaire(s)</h2>

		<a href="{{ path('summary') }}" class="btn btn-primary">Valider</a>

{% endblock %}