{% extends 'base.html.twig'%}

{% block body %}

	<h1>Vous n'avez pas le droit de consulter cette commande</h1>
	
<button type="button" class="btn btn-success" onclick="location.href='/ticketing/'">Retour</button>

{% endblock %}

