{% extends 'base.html.twig'%}

{% block body %}

<h2>Information importante</h2>

	<p>En vue de la forte affluence attendue, la réservation en ligne de votre créneau horaire, qui peut seule vous garantir l’entrée au musée, est fortement recommandée.</p>

	<h3>Horaires du musée</h3>
	<p>
		{% for open in Opening %}
		{{ open }} <br>
		{% endfor %}

		<br />L'évacuation des salles débute à 17 h 30.<br />		
	</p>
			
	<h3>Le Musée est fermé :</h3>
			
	<p>
		{% for close in Closing %}
		{{ close }} <br>
		{% endfor %}
	</p>

	<h3>Astuce !</h3>

	<p>
		Quels sont les meilleurs horaires pour visiter ?<br />
		Le matin dès l'ouverture du musée.
	</p>

{% endblock %}