{% extends 'base.html.twig'%}

{% block body %}

	<h2>Tarifs</h2>

		<table>
			<tr>
				<td></td>
				<td>Billet Journée</td>
				<td>Billet Demi-Journée *</td>
			</tr>

			<tr>
				<td>Entrée Adulte (à partir de 12 ans)</td>
				<td>{{normal['adult']}}</td>
				<td>8 €</td>
			</tr>

			<tr>
				<td>Entrée Enfant **</td>
				<td>8 €</td>
				<td>4 €</td>
			</tr>

			<tr>
				<td>Entrée Sénior (à partir de 60 ans)</td>
				<td>12 €</td>
				<td>6 €</td>
			</tr>
	
			<tr>
				<td>Tarif réduit ***</td>
				<td>50 %</td>
				<td></td>
			</tr>
		</table>

		<p>
			* Billet Demi-Journée : Entrée à partir de 14h<br />
			** Entrée Enfant : de 4 à 12 ans - gratuit pour les moins de 4 ans<br />
			*** Tarif réduit : Etudiant, employé du Musée ou d'un service du Ministère de la Culture, militaire, personne en situation de handicap, etc...<br />
			Un justificatif vous sera demandé à l'entrée du Musée.<br />
		</p>

		


{% endblock %}