{% extends 'base.html.twig'%}

{% form_theme formVisitor 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h1>Remplissez le(s) formulaire(s)</h1>
		
		{{ form_start(formVisitor) }}
			
	
		{{ form_end(formVisitor) }}

{% endblock %}